sudo apt-get install supervisor

touch /var/www/html/impact/current/impact-worker.log
sudo nano /etc/supervisor/conf.d/impact-worker.conf

---------------------------------------------------------------------------------------------------------
[program:impact-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/html/impact/current/artisan queue:work redis --tries=3
autostart=true
autorestart=true
user=deployer
numprocs=8
redirect_stderr=true
stdout_logfile=/var/www/html/impact/current/impact-worker.log
stopwaitsecs=30
---------------------------------------------------------------------------------------------------------
sudo supervisorctl reread
sudo supervisorctl update
sudo supervisorctl start impact-worker:*
sudo supervisorctl status​
---------------------------------------------------------------------------------------------------------
sudo supervisorctl stop all
sudo supervisorctl reread
sudo supervisorctl update
sudo supervisorctl start all