* * * * * php /var/www/html/square1/current/artisan schedule:run >> /dev/null 2>&1

---------------------------------------------------------------------------------------------------------
sudo apt-get install supervisor

touch /var/www/html/square1/current/square1-worker.log
sudo nano /etc/supervisor/conf.d/square1-worker.conf

---------------------------------------------------------------------------------------------------------
[program:square1-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/html/square1/current/artisan queue:work redis --tries=3
autostart=true
autorestart=true
user=deployer
numprocs=8
redirect_stderr=true
stdout_logfile=/var/www/html/square1/current/square1-worker.log
stopwaitsecs=30
---------------------------------------------------------------------------------------------------------
sudo supervisorctl reread
sudo supervisorctl update
sudo supervisorctl start square1-worker:*
sudo supervisorctl status​
---------------------------------------------------------------------------------------------------------
sudo supervisorctl stop all
sudo supervisorctl reread
sudo supervisorctl update
sudo supervisorctl start all